/**
 * modules.css
 * Mosn 2015.5.22
 * From mosnwork
 */

/**********************
 * 标题  排版  h1-h6
 **********************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.9em;
    margin: 0;
    padding: 0;
    position: relative
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    font-size: 12px;
    *line-height: 1.9em;
    position: absolute;
    top: 0;
    right: 0;
    color: #08c;
    text-decoration: none;
    margin: 0;
}
h1,
.h1 {
    font-size: 36px;
}
h2,
.h2 {
    font-size: 30px;
}
h3,
.h3 {
    font-size: 24px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small,
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
    font-family: inherit;
    font-weight: 400;
    line-height: 1;
    font-size: 65%;
    color: #777;
    margin-left: 10px;
}
/**********************
 * 代码块  排版  pre code
 **********************/

.code {
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 0;
    border: none;
    width: 99%;
}
/**********************
 * 标准区块  mss-box
 **********************/

.mss-box {
    border: 1px solid #ccc;
    *zoom: 1;
    border-bottom: none;
}
.mss-box:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-box-head {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0 10px;
}
.mss-box-container {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.mss-box-content {
    padding: 10px;
}
.mss-box-follow {
    border-top: none;
}
/**********************
 * 下拉盒子  mss-dropdown
 **********************/

.mss-dropdown {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.mss-dropdown:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-dropdown-text {
    position: relative;
    z-index: 1;
}
.mss-dropdown-input {
    padding: 4px 5px;
    padding-top: 5px;
    text-align: left;
    padding-right: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin: 1px 0;
}
.mss-dropdown-text i {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -7px;
    right: 8px;
    cursor: pointer;
}
.mss-dropdown-list {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 29px;
    background: #fcfcfc;
    left: 0;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    width: 99%\9;
    /* IE6, IE7, IE8, IE9, IE10 */
}
.mss-dropdown-list-item {
    width: 100%;
    text-indent: 5px;
    padding: 5px 0;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mss-dropdown-list-item .m-dropdown-label {
    width: 100%;
    cursor: pointer;
    display: block;
}
.mss-dropdown-list-item .m-dropdown-label .m-dropdown-checkbox {
    float: left;
    margin-top: 2px;
    margin-left: 5px;
}
.mss-dropdown-list-item .mss-dropdown-list-font {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.mss-dropdown-list-item:last-child {
    border-bottom: none;
}
.mss-dropdown-list-item:hover {
    background: #e9e9e9;
}
.mss-dropdown-box {
    width: auto;
    min-width: 99%;
    position: absolute;
    z-index: 2;
    top: 29px;
    background: #fcfcfc;
    left: 0;
    border: 1px solid #cecece;
    max-height: 500px;
    overflow-y: scroll;
    display: none;
}
.mss-dropdown-details {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 29px;
    background: #fcfcfc;
    left: 0;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    width: 99%\9;
    /* IE6, IE7, IE8, IE9, IE10 */
}
/**********************
 * 按钮组件  mss-button
 **********************/

.mss-button {
    padding: 4px 12px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #777;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 0px;
}
.mss-button:hover {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.mss-button-big {
    padding: 6px 16px;
    font-size: 14px;
}
.mss-button-small {
    padding: 3px 9px;
    font-size: 12px;
}
.mss-button-group {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 1px;
}
.mss-button-group .mss-button {
    float: left;
    margin-left: -1px;
}
.mss-button-group .mss-button:first-child {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin-left: 0;
}
.mss-button-group .mss-button:last-child {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
/**********************
 * 列表文章  mss-list
 **********************/

.mss-list {
    list-style: inside none square;
    margin: 0;
}
.mss-list-padding {
    padding: 10px;
}
.mss-list-nostyle {
    list-style: none;
}
.mss-list li {
    font-size: 12px;
    line-height: 240%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: 10px;
}
.mss-list-indent li {
    text-indent: 0px;
}
.mss-list li a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.mss-list li span {
    color: #999;
    margin-left: 10px;
}
.mss-list li:hover {
    background: #f6f6f6;
}
/**********************
 * 导航菜单  mss-nav
 **********************/

.mss-nav {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    *zoom: 1;
}
.mss-nav:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-nav-main {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    float: left;
}
.mss-nav-item {
    list-style-type: none;
    float: left;
    padding: 5px 12px;
    padding-bottom: 7px;
    margin-left: 5px;
    margin-top: 5px;
}
.mss-nav-item-current {
    background: #fff;
}
.mss-nav-item a {
    color: #fff;
}
.mss-nav-item-current a {
    color: #333;
}
.mss-nav-subcontainer {
    float: left;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
}
.mss-nav-submain {
    display: none;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    z-index: 2;
}
.mss-nav-subitem {
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}
.mss-nav a {
    text-decoration: none;
}
.mss-nav-subitem-current {
    background: #e7e7e7;
    -webkit-box-shadow: 0 1px 0 #dadada inset;
    -moz-box-shadow: 0 1px 0 #dadada inset;
    box-shadow: 0 1px 0 #dadada inset;
}
.mss-nav-item-current .mss-nav-submain {
    display: block;
}
.mss-nav-nosub .mss-nav-subcontainer {
    display: none;
}
.mss-nav-nosub .mss-nav-item-current .mss-nav-submain {
    display: none;
}
/**********************
 * 分页组件  mss-paging
 **********************/

.mss-paging {
    width: 100%;
    color: #808080;
    font-size: 12px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
.mss-paging:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-paging a.mss-paging-item,
.mss-paging span.mss-paging-info,
.mss-paging span.mss-paging-ellipsis,
.mss-paging span.mss-paging-which,
.mss-paging a.mss-paging-goto,
.mss-paging a.mss-paging-prev,
.mss-paging a.mss-paging-next {
    color: #808080;
    height: 22px;
    line-height: 22px;
    margin: 3px 5px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}
.mss-paging span.mss-paging-bold {
    font-weight: 600;
    letter-spacing: 1px;
}
.mss-paging-prev,
.mss-paging-next,
.mss-paging-goto {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    padding: 0px 8px;
}
.mss-paging-prev:hover,
.mss-paging-next:hover,
.mss-paging-goto:hover {
    border: 1px solid #999;
    color: #999;
}
.mss-paging .mss-paging-which input.mss-paging-page {
    border: 1px solid #d1d1d1;
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    width: 22px;
}
.mss-paging a.mss-paging-item {
    background-color: #f3f3f3;
    border: medium none;
    font-weight: bold;
    padding: 0 9px;
    height: 24px;
    line-height: 24px;
}
.mss-paging a.mss-paging-item:hover {
    background-color: #cecece;
    color: #fff
}
.mss-paging a.mss-paging-current {
    background-color: #999;
    color: #fff
}
/**********************
 * 气泡提示  mss-poptip
 **********************/

.mss-poptip {
    height: auto;
    left: 10px;
    position: absolute;
    width: auto;
    border: 1px solid #d9d9d9;
    top: 10;
    z-index: 97;
    -moz-box-shadow: 0 1px 3px #cccccc;
    -webkit-box-shadow: 0 1px 3px #cccccc;
    box-shadow: 0 1px 3px #cccccc;
    *zoom: 1;
}
.mss-poptip:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-poptip-border,
.mss-poptip-background {
    position: absolute;
    top: -6px;
    left: 3px;
    color: #d9d9d9;
    font-family: "宋体", "Arial Unicode MS";
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    width: 12px;
    z-index: 98;
}
.mss-poptip-background {
    top: -5px;
    color: #f7f7f7;
    z-index: 99
}
.mss-poptip-content {
    padding: 8px 12px;
    position: relative;
    z-index: 97;
    background: #f7f7f7;
}
.mss-poptip-close {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 2px;
    color: #666;
    overflow: hidden;
    z-index: 98;
}
/* 大红，错误，危险 */

.mss-poptip-error {
    border: 1px solid #ebbbbb;
}
.mss-poptip-error .mss-poptip-border {
    color: #ebbbbb;
}
.mss-poptip-error .mss-poptip-background {
    color: #ffe8e8;
}
.mss-poptip-error .mss-poptip-content {
    background: #ffe8e8;
}
/* 绿色，成功 */

.mss-poptip-success {
    border: 1px solid #b5e3b2;
}
.mss-poptip-success .mss-poptip-border {
    color: #b5e3b2;
}
.mss-poptip-success .mss-poptip-background {
    color: #e7ffe6;
}
.mss-poptip-success .mss-poptip-content {
    background: #e7ffe6;
}
/* 蓝色，信息 */

.mss-poptip-info {
    border: 1px solid #9cd1ca;
}
.mss-poptip-info .mss-poptip-border {
    color: #9cd1ca;
}
.mss-poptip-info .mss-poptip-background {
    color: #eafffc;
}
.mss-poptip-info .mss-poptip-content {
    background: #eafffc;
}
/* 金黄，重要，警告 */

.mss-poptip-warning {
    border: 1px solid #e2ccb6;
}
.mss-poptip-warning .mss-poptip-border {
    color: #e2ccb6;
}
.mss-poptip-warning .mss-poptip-background {
    color: #fff4ea;
}
.mss-poptip-warning .mss-poptip-content {
    background: #fff4ea;
}
/* 上方 */

.mss-poptip-top .mss-poptip-border {
    top: auto;
    bottom: -7px;
}
.mss-poptip-top .mss-poptip-background {
    top: auto;
    bottom: -5px;
}
/* 右侧 */

.mss-poptip-right .mss-poptip-border {
    top: 3px;
    left: -6px;
}
.mss-poptip-right .mss-poptip-background {
    top: 3px;
    left: -5px;
}
/* 左侧 */

.mss-poptip-left .mss-poptip-border {
    top: 3px;
    left: auto;
    right: -7px;
}
.mss-poptip-left .mss-poptip-background {
    top: 3px;
    left: auto;
    right: -5px;
}
/**********************
 * 标签切换  mss-tab
 **********************/

.mss-tab {
    *zoom: 1;
    width: 100% margin: 0;
    padding: 0;
}
.mss-tab:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-tab-items {
    width: 100%;
    border-bottom: 1px solid #ccc;
    float: left;
    height: auto;
}
.mss-tab-item {
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    margin: 0 3px;
    float: left;
    cursor: pointer;
    text-align: center;
}
.mss-tab-item-current {
    height: 29px;
    line-height: 29px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
    margin-bottom: -1px;
}
.mss-tab-container {
    width: 100%;
    float: left;
    height: auto;
}
.mss-tab-container-item {
    width: auto;
    height: auto;
    padding: 5px;
    *zoom: 1;
    display: none;
}
.mss-tab-container-item:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.mss-tab-container-item-current {
    display: block;
}
/* 垂直 */

.mss-tab-vertical .mss-tab-items {
    border-bottom: none;
    height: auto;
    border-right: 1px solid #ccc;
    position: relative;
    float: left;
    width: 100px;
    margin-right: -101px;
}
.mss-tab-vertical .mss-tab-item {
    width: 80px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    float: left;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mss-tab-vertical .mss-tab-item-current {
    width: 79px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    background: #fff;
    color: #000;
    margin-bottom: 0px;
    margin-right: -1px;
}
.mss-tab-vertical .mss-tab-container {
    width: 100%;
    float: right;
    height: auto;
}
.mss-tab-vertical .mss-tab-container-item {
    width: auto;
    height: auto;
    padding: 5px;
    margin-left: 101px;
    display: none;
    *zoom: 1;
}
.mss-tab-vertical .mss-tab-container-item-current {
    display: block;
}
/**********************
 * 通用信息  mss-tip
 **********************/

.mss-tip {
    position: relative;
    background: #fff;
    border: 1px solid #fff;
    *zoom: 1;
}
.mss-tip:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-tip-icon {
    position: relative;
    float: left;
    width: 42px;
    margin-right: -70px;
    font-size: 42px;
    color: #66cae2;
    padding: 15px 0;
    padding-left: 28px;
    text-align: center;
}
.mss-tip-icon i {
    float: left;
}
.mss-tip-right {
    float: right;
    width: 100%;
    padding: 15px 0;
}
.mss-tip-content {
    margin-left: 80px;
}
.mss-tip-explain {
    color: #808080;
    margin: 0;
    padding: 0;
    line-height: 22px;
}
.mss-tip-explain a {
    color: #08c;
}
/* 大红，错误，危险 */

.mss-tip-error {
    border: 1px solid #ebbbbb;
    background: #ffe8e8
}
.mss-tip-error i {
    color: #ebbbbb;
}
/* 绿色，成功 */

.mss-tip-success {
    border: 1px solid #b5e3b2;
    background: #e7ffe6
}
.mss-tip-success i {
    color: #b5e3b2;
}
/* 蓝色，信息 */

.mss-tip-info {
    border: 1px solid #9cd1ca;
    background: #eafffc
}
.mss-tip-info i {
    color: #9cd1ca;
}
/* 金黄，重要，警告 */

.mss-tip-warning {
    border: 1px solid #e2ccb6;
    background: #fff4ea
}
.mss-tip-warning i {
    color: #e2ccb6;
}
/**********************
 * 提示文案  mss-text
 **********************/

.mss-text {
    margin: 0;
    position: relative;
}
.mss-text-icon {
    float: left;
    font-size: 16px;
    margin-right: 5px;
}
/* 大红，错误，危险 */

.mss-text-error {
    color: #ed0000;
}
/* 绿色，成功 */

.mss-text-success {
    color: #2c8626;
}
/* 蓝色，信息 */

.mss-text-info {
    color: #2972ed;
}
/* 金黄，重要，警告 */

.mss-text-warning {
    color: #eb7501;
}
/**********************
 * Label  mss-label
 **********************/

.mss-label {
    width: 100%;
    *zoom: 1;
}
.mss-label:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-label-item {
    width: auto;
    margin: 3px;
    padding: 3px 8px;
    float: left;
    cursor: pointer;
}
/**********************
 * Tag  mss-tag
 **********************/

.mss-tag {
    width: 100%;
    *zoom: 1;
}
.mss-tag:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-tag-item {
    width: auto;
    margin: 3px;
    padding: 3px 8px;
    float: left;
    cursor: pointer;
}
.mss-tag-item:hover {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.mss-tag-item-remove {
    margin-left: 4px;
}
/**********************
 * Tag  mss-tag
 **********************/

.mss-crumbs {
    width: 100%;
    *zoom: 1;
}
.mss-crumbs:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-crumbs-icon {
    width: auto;
    float: left;
    margin: 0 8px;
    color: #ccc
}
.mss-crumbs-item {
    width: auto;
    line-height: 20px;
    float: left;
}
.mss-crumbs-item a {
    color: #28a3ef;
    text-decoration: none;
}
.mss-crumbs-active {
    color: #999999;
}
/**********************
 * 导航条  mss-navbar
 **********************/

.mss-navbar {
    height: auto;
    position: relative;
    z-index: 1;
    text-decoration: none;
    *zoom: 1;
    border: 1px solid #e2e2e2;
    -moz-box-shadow: 0 1px 3px #ebebeb;
    -webkit-box-shadow: 0 1px 3px #ebebeb;
    box-shadow: 0 1px 3px #ebebeb;
    padding-left: 10px;
    padding-right: 10px;
}
.mss-navbar a {
    text-decoration: none;
    color: #777777;
}
.mss-navbar a:hover {
    color: #333;
}
.mss-navbar:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-navbar-logo {
    float: left;
    width: auto;
    padding: 0 5px;
    margin-right: 10px;
    line-height: 40px;
    height: 40px;
}
.mss-navbar-brand {
    color: #777777;
    display: block;
    font-size: 20px;
    font-weight: normal;
}
.mss-navbar-list {
    float: left;
    width: auto;
    margin: 0 10px;
    height: 40px;
}
.mss-navbar-list li {
    float: left;
    width: auto;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    color: #333;
    position: relative;
    z-index: 1;
}
.mss-navbar-active {
    background: #e2e2e2
}
.mss-navbar-list li i {
    margin-left: 5px;
}
.mss-navbar-menu {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    -moz-box-shadow: 0 1px 3px #ebebeb;
    -webkit-box-shadow: 0 1px 3px #ebebeb;
    box-shadow: 0 1px 3px #ebebeb;
    list-style: none;
    position: absolute;
    left: 0;
    top: 40px;
    width: auto;
    z-index: 2;
    display: none;
}
.mss-navbar-menu li {
    float: left;
    width: auto;
    padding: 0 10px;
    line-height: 25px;
    height: 25px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.mss-navbar-menu li:hover {
    background: #efefef
}
.mss-navbar-btn {
    float: left;
    width: auto;
    margin: 0 10px;
    padding: 7px 0;
    height: 26px;
}
.mss-navbar-input {
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 3px;
}
.mss-navbar-button {
    float: left;
    height: 27px;
    line-height: 25px;
    padding: 0 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #777;
    vertical-align: middle;
    margin-left: 5px;
}
.mss-navbar-right {
    float: right;
}
/**********************
 * 导航条  mss-mask
 **********************/

.mss-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.mss-mask-load {
    width: 100px;
    padding: 5px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -55px;
    background: #fff;
    border: 1px solid #e3e3e3;
    line-height: 30px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    color: black
}
.mss-mask-load i {
    margin: 0 8px;
}
/**********************
 * 表格组件  mss-table
 **********************/

.mss-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
    width: 100%;
    overflow-x: auto
}
.m-table thead {
    color: #666;
}
.mss-table tr {
    color: #808080;
}
.mss-table th,
.mss-table td {
    border-bottom: 1px solid #d9d9d9;
    padding: 7px 9px;
    text-align: left;
}
.mss-table td a.mss-table-handle-a {
    margin: 0 5px;
}
.mss-table th {
    white-space: nowrap;
}
.mss-table thead tr {
    color: #666;
    background: #f2f2f2;
}
.mss-table thead th {
    font-weight: 600;
    color: #666;
}
.mss-table thead th:hover {
    background: #ebebeb;
}
.mss-table thead th i {
    margin-left: 5px;
    color: #999;
}
.mss-table thead th em.mss-table-split {
    padding: 0 2px;
}
.mss-table tbody tr:hover {
    background: #f7f7f7
}
.mss-table-noborder {
    border: none;
}
.mss-table-noborder th,
.mss-table-noborder td {
    border: none;
}
.mss-table-inbox {
    border: none;
}
/**********************
 * 幻灯片  mss-carousel
 **********************/

.mss-carousel {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    *zoom: 1;
}
.mss-carousel:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.mss-carousel-cnt {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}
.mss-carousel-item {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    font-size: 0;
}
.mss-carousel-item img {
    width: 100%;
    height: auto;
}
.mss-carousel-control {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: auto;
    height: auto;
    z-index: 4;
}
.mss-carousel-move {
    float: left;
    width: 10px;
    height: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    background: #dddddd;
    margin: 0 5px;
}
.mss-carousel-current {
    background: #6cb8fa;
}
/**********************
 * 树形图  mss-tree
 **********************/

.mss-tree {
    width: 100%;
    overflow: hidden;
    zoom: 1;
    cursor: pointer;
}
.mss-tree:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-tree-ul {
    width: 100%;
    float: left;
    height: auto;
    padding-left: 17px;
    box-sizing: border-box;
}
.mss-tree-item {
    width: 100%;
    float: left;
    height: auto;
    line-height: 20px;
}
.mss-tree-title {
    width: 100%;
    float: left;
    height: 20px;
    line-height: 20px;
}
.mss-tree-title i {
    margin-right: 5px;
}
mss-tree-checkbox {
    margin-right: 5px;
}
/**********************
 * 弹出层  mss-dialog
 **********************/

.mss-dialog {
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    outline: 0;
    position: fixed;
    z-index: 499;
    top: 50%;
    left: 50%;
    overflow: hidden;
    *zoom: 1;
}
.mss-dialog:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-dialog-title {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    cursor: move;
    position: relative;
    padding: 4px 0;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mss-dialog-close {
    position: absolute;
    width: auto;
    right: 10px;
    top: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.mss-dialog-container {
    float: left;
    height: auto;
    width: 100%;
    overflow: auto;
    overflow-y: auto;
    position: relative;
}
.mss-dialog-button {
    float: left;
    height: auto;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mss-dialog-confirm .mss-dialog-button {
    border-top: none;
}
/**********************
 * 表单  mss-form
 **********************/

.mss-form {
    margin: 0;
    padding: 0;
    width: 100%;
    *zoom: 1;
}
.mss-form:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-form-item {
    width: 100%;
    height: auto;
    float: left;
    margin: 5px 0;
}
.mss-form-leftname {
    float: left;
    margin-right: -75px;
    position: relative;
    text-align: right;
    line-height: 30px;
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mss-form-container {
    float: right;
    width: 100%;
}
.mss-form-container-box {
    margin-left: 85px;
}
/*纯文本*/

.mss-form-text {
    line-height: 30px;
    width: auto;
    height: auto;
}
/*单选，多选*/

.mss-form-check {
    margin: 0;
    padding: 0;
    padding: 5px 0;
    *zoom: 1;
}
.mss-form-check:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.mss-form-check label {
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mss-form-check label input {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    margin-top: 3px;
}
/*输入框容器*/

.mss-form-box {
    margin: 0;
    padding: 0;
    position: relative;
}
.mss-form-box .mss-form-split {
    height: 30px;
    line-height: 30px;
    display: inline
}
.mss-form-box .mss-form-split em {
    float: left;
    padding: 0 5px;
}
/*输入框*/

.mss-form-input-txt {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 5px 4px 5px;
    margin: 1px 0;
}
/*下拉*/

.mss-form-input-select {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 5px 4px 5px;
    margin: 1px 0;
}
/*textarea*/

.mss-form-input-textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 5px 4px 5px;
    margin: 1px 0;
    max-width: 90%;
}
/*前缀图标，后缀图标*/

.mss-form-input-lefticon,
.mss-form-input-righticon {
    height: 30px;
    line-height: 30px;
    width: auto;
    display: inline;
    word-break: break-all;
}
.mss-form-input-lefticon input,
.mss-form-input-righticon input {
    float: left;
}
.mss-form-input-lefticon i.mss-form-icon,
.mss-form-input-righticon i.mss-form-icon {
    border: 1px solid #ccc;
    background: #eee;
    border-right: none;
    width: 26px;
    text-align: center;
    line-height: 26px;
    margin: 1px 0;
    height: 26px;
    float: left;
    height: 25px\9;
    line-height: 25px\9;
}
.mss-form-input-righticon i.mss-form-icon {
    border: 1px solid #ccc;
    border-left: none;
}
.mss-form-input-lefticon i.mss-form-boicon,
.mss-form-input-righticon i.mss-form-boicon {
    border-right: none;
    border-left: none;
}
.mss-form-input-lefticon i.mss-form-ricon,
.mss-form-input-righticon i.mss-form-ricon {
    border: 1px solid #ccc;
    border-left: none;
}
/*焦点变色*/

.mss-form input:focus {
    border-color: #2972ed
}
/*提示*/

.mss-form-tip {
    line-height: 30px;
    width: 100%;
    height: 30px;
    display: inline-block;
    float: left
}
.mss-form-tip i {
    margin-right: 5px;
}
/*额外链接*/

.mss-form-link {
    line-height: 30px;
    margin-left: 10px;
    color: #08c;
    cursor: pointer;
}
.mss-form-link:hover {
    text-decoration: underline;
}
/*验证码图片*/

.mss-form-imgcode {
    margin: 1px 0;
    padding: 0;
    height: 28px;
    margin-left: 5px;
}
/**********************
 * 时间控件  mss-calender
 **********************/

.mss-calender {
    height: auto;
    position: absolute;
    width: auto;
    border: 1px solid #d9d9d9;
    z-index: 97;
    -moz-box-shadow: 0 1px 3px #cccccc;
    -webkit-box-shadow: 0 1px 3px #cccccc;
    box-shadow: 0 1px 3px #cccccc;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    *zoom: 1;
}
.mss-calender:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: ".";
}
.mss-calender-border,
.mss-calender-background {
    position: absolute;
    top: -6px;
    left: 3px;
    color: #d9d9d9;
    font-family: "宋体", "Arial Unicode MS";
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    width: 12px;
    z-index: 98;
}
.mss-calender-background {
    top: -5px;
    color: #fff;
    z-index: 99;
}
.mss-calender-content {
    position: relative;
    z-index: 97;
    background: #fff;
}
.mss-calender-title {
    width: 100%;
    height: 31px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 31px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial";
}
.mss-calender-left,
.mss-calender-right {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    height: 21px;
    font-size: 14px;
    font-weight: 600;
    color: #888;
    padding: 0 5px;
    background: #ebeff3;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.mss-calender-right {
    left: auto;
    right: 5px;
}
.mss-calender-time {
    width: 100%;
    height: 160px;
    text-align: center;
    color: #333;
}
.mss-calender-tool {
    width: 100%;
    height: 31px;
    border-top: 1px solid #d9d9d9;
    line-height: 31px;
    color: #333;
    padding: 5px 0;
}
.mss-calender-today {
    float: right;
    margin-right: 5px;
    font-weight: 600;
    cursor: pointer;
    padding:0 5px;
    background: #eb7501;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    line-height: 26px;
    margin-top:3px;
}
.mss-calender-yes {
    float: right;
    margin-right: 5px;
    color: #3f8ddb;
    font-weight: 600;
    cursor: pointer;
    padding:0 5px;
    background: #2972ed;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    line-height: 26px;
    margin-top:3px;
}
.mss-calender-select {
    float: left;
    padding-left: 5px;
}
.mss-calender-hour,
.mss-calender-points,
.mss-calender-seconds {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 0;
    width: 40px;
}
.mss-calender-table {
    border: none;
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.mss-calender-table thead {
    color: #333;
    height: 22px;
    font-weight: 600;
    border-bottom: 1px solid #d9d9d9;
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f2f2f2');
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(to bottom, #f8f8f8, #f2f2f2);
}
.mss-calender-table thead .weekend {
    color: #FF0000;
}
.mss-calender-table tbody td {
    height: 22px;
}
.mss-calender-table tbody td span {
    margin: 3px;
    display: block;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.mss-calender-table tbody td span.noclick {
    color: #999;
    text-decoration: line-through;
}
/*节假日*/

.mss-calender-table tbody td span.mss-calender-holiday {
    background: #ffe7b2;
}
/*已选择，输入框值*/

.mss-calender-table tbody td span.mss-calender-blue {
    background: #b2ceff;
}
/*今天*/

.mss-calender-table tbody td span.mss-calender-Teal {
    background: #9cd9d1;
}
.mss-calender-table tbody td span:hover {
    background: #dedede;
}
.mss-calender-switch {
    width: 100%;
    position: absolute;
    left: 0;
    top: 32px;
    height: 160px;
    background: #fff;
    display: none;
}
.mss-calender-month {
    float: left;
    height: 50px;
    padding: 5px;
    padding-top: 4px;
    border-top: 1px solid #d9d9d9;
}
.mss-calender-month ins {
    float: left;
    width: 16.6665%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
.mss-calender-month ins.current {
    background: #8abcff;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.mss-calender-year {
    float: left;
    height: 100px;
    width: 100%;
}
.mss-calender-switch-left,
.mss-calender-switch-right {
    float: left;
    height: 100px;
    width: 15px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
}
.mss-calender-year:hover .mss-calender-switch-left,
.mss-calender-year:hover .mss-calender-switch-right {
    background: #f4f4f4;
}
.mss-calender-switch-dl {
    float: left;
    height: 90px;
    padding: 5px;
}
.mss-calender-switch-dl dt {
    float: left;
    width: 25%;
    height: 22.5px;
    line-height: 22.5px;
    text-align: center;
    cursor: pointer;
}
.mss-calender-switch-dl dt.current {
    background: #8abcff;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}